nav
    .nav-wrapper.red.darken-4
        a.brand-logo(href="/")| TKE-ZM
        a.button-collapse(href="#" data-activates="mobile-demo")
            i.material-icons| menu
        ul.right.hide-on-med-and-down
            li
                a(href="/")| Home
            li
                a(href="/about")| About
            li
                a(href="/contacts")| Contacts
            li
                a(href="/officers")| Officers
            li
                a(href="/events")| Events
            li
                a(href="#")| Brothers for Hire
            li
                a(href="/projects")| Projects
            li
                a(href="https://brosonly-tkezm.rhcloud.com/")|Login
        ul.side-nav#mobile-demo
            li
                a(href="/")| Home
            li
                a(href="/about")| About
            li
                a(href="/contacts")| Contacts
            li
                a(href="/officers")| Officers
            li
                a(href="/events")| Events
            li
                a(href="#")| Brothers for Hire
            li
                a(href="/projects")| Projects
            li
                a(href="https://brosonly-tkezm.rhcloud.com/")|Login
